/* General */

body {
  background: var(--bg);
  display: block;
}

nav {
  padding: 0;
}

.hidden {
  opacity: 0;
}

/* Grid */

.grid {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.grid__header {
  grid-area: 1 / 1 / 2 / 4;
}

.grid__main {
  grid-area: 2 / 2 / 3 / 3;
}

.grid__sidebar-left {
  display: none;
  grid-area: 2 / 1 / 3 / 2;
}

.grid__sidebar-right {
  display: none;
  grid-area: 2 / 3 / 3 / 4;
}

/* Layout to display left sidebar on mobile. */
.grid--left-sidebar {
  grid-template-columns: 1fr 0 0;
}
.grid--left-sidebar .grid__sidebar-left {
  display: flex;
}
.grid--left-sidebar .grid__sidebar-right,
.grid--left-sidebar .grid__main {
  display: none;
}

/* Layout to display right sidebar on mobile. */
.grid--right-sidebar {
  grid-template-columns: 0 0 1fr;
}
.grid--right-sidebar .grid__sidebar-right {
  display: flex;
}
.grid--right-sidebar .grid__sidebar-left,
.grid--right-sidebar .grid__main {
  display: none;
}

/* Layout for desktop. */
@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 240px 1fr 240px;
  }
  .grid__sidebar-left,
  .grid__sidebar-right,
  .grid--left-sidebar .grid__sidebar-right,
  .grid--right-sidebar .grid__sidebar-left {
    display: flex;
  }

  .grid--right-sidebar .grid__main,
  .grid--left-sidebar .grid__main {
    display: flex;
  }
}

/* Header */

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background: var(--sb);
  border-bottom: 1px solid var(--border);
}

.header__heading {
  font-size: 1.5rem;
  margin: 0;
}

/* Chat */

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  white-space: normal;
  word-break: break-word;
}

.chat__content {
  background: var(--bg);
  flex: 1 1 0;
  height: 0px;
  overflow-y: scroll;
  padding-bottom: 1rem;
  transition: opacity 0.15s ease-out;
}

.chat__item {
  display: grid;
  grid-template-columns: 5rem 1fr;
  padding-left: 1rem;
  padding: 0.5rem 2rem;
}

.chat__item:hover {
  background: var(--chat-hover);
}

.chat__time {
  margin: 0;
  text-align: right;
}

.chat__message {
  margin: 0;
  margin-left: 1rem;
}

.chat__username {
  font-weight: bold;
}

.chat__welcome {
  margin: 2rem;
}

.chat__welcome kbd {
  font-size: 1rem;
}

.chat__welcome h2 {
  margin: 0;
}

.chat__compose {
  background: var(--bg);
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  padding-top: 0;
}

.chat__input {
  background: var(--chat-input);
  border-radius: 8px;
  border: none;
  height: 44px;
  max-height: 215px;
  outline: none;
  padding: 0.7rem 1rem;
  resize: none;
  width: 100%;
}

/* Sidebar */

.sidebar {
  background: var(--sb);
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sb__main {
  padding: 16px;
  flex-grow: 1;
  overflow-y: scroll;
}

.sb__footer {
  height: 3.375rem;
  font-size: 1rem;
  background: var(--sb-footer);
  flex-shrink: 0;
  padding-left: 1.5rem;
  padding-right: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.sb__username {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sb__item {
  align-items: center;
  border-radius: 4px;
  display: flex;
  line-height: 2;
  margin: 2px 0;
  min-height: 2rem;
  padding: 0 8px;
}

.sb__item:hover {
  background: var(--sb-hover);
}

.sb__item .fa-btn {
  padding: 0.25rem;
  visibility: hidden;
}

.sb__item:hover .fa-btn {
  visibility: visible;
}

.sb__action,
.sb__action:visited {
  background: none;
  border: none;
  color: var(--sb-text);
  font-size: 1rem;
  line-height: 2;
  overflow-x: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: -webkit-fill-available;
}

.sb__action:hover,
.sb__action:enabled:hover {
  color: var(--sb-text-hover);
  filter: none;
}

a.sb__action,
button.sb__action {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 899px) {
  .sb__action {
    font-size: 1.2rem;
    line-height: 2;
  }
  .sb__item .fa-btn {
    visibility: visible;
  }
  .sb__footer {
    font-size: 1.2rem;
  }
}

.sb__heading {
  color: var(--sb-text);
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding-left: 8px;
}

@media only screen and (max-width: 899px) {
  .sb__heading {
    font-size: 1 rem;
    line-height: 2;
  }
}

.sb--selected,
.sb--selected:hover {
  background: var(--sb-selected);
}

.sb--selected .sb__action,
.sb--selected:hover .sb__action {
  color: var(--sb-text-selected) !important;
}

/* Divider */

.divider {
  align-items: center;
  border-top: thin solid var(--divider-line);
  display: flex;
  height: 0;
  justify-content: center;
  margin: 1rem 2rem;
  opacity: 0.75;
}

.divider__text {
  background: var(--bg);
  color: var(--divider-text);
  font-size: 12px;
  font-weight: 600;
  margin-top: -1px;
  padding: 2px 4px;
}

/* FA Button */

.fa-btn {
  background: none;
  border-radius: 999px;
  margin: 0;
  padding: 0.5rem;
  color: var(--icon);
}

.fa-btn--no-padding {
  padding: 0 !important;
}

/* Hide header twa button on desktop. */
@media screen and (min-width: 900px) {
  .header {
    justify-content: center;
  }
  .header .fa-btn {
    display: none;
  }
}

/* Simple.css override. */
@media only screen and (max-width: 900px) {
  nav a {
    line-height: 2;
  }
}
