<div class="sb__item" title="{{ formula }}">
    <button class="sb__action" _="on click set .chat__input.value to '!' + my.innerHTML
                                  remove .grid--right-sidebar from .grid
                                  send message:submit to .chat__compose"
            onclick="window.fathom.trackGoal('BWMFGNBN', 0);">{{formula}}</button>
    <button class="fa-btn" hx-target="closest .sb__item" hx-swap="outerHTML" hx-delete="/dice/{{ formula }}/"
            onclick="window.fathom.trackGoal('PXVQGPV6', 0);">
        <i class="fa-solid fa-trash"></i>
    </button>
</div>