<div class="chat__welcome">
  <h2>Welcome to #{{ zone_name }}!</h2>
  <p>
    This is the start of the #{{ zone_name }} zone. <br />
    Invite players to this zone by sending them this <a href="/z/{{ zone_name }}/">link</a>.<br />
    To send a message, just type the message.<br />
    To roll dice, type <kbd>!</kbd> followed by <a href="https://dice-roller.github.io/documentation/guide/notation/"
       target="_blank">dice notation</a>.<br />
    You can also select a dice formula from the dice tray.
  </p>
</div>