{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}Crit Zone</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'site.webmanifest' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simpledotcss@2.0.6/simple.min.css">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.6.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/hyperscript.org@0.9.4"></script>
  <script src="https://kit.fontawesome.com/f588a239a1.js" crossorigin="anonymous"></script>
  <script>
    var pusher = new Pusher('{{ PUSHER.KEY }}', {
      cluster: '{{ PUSHER.CLUSTER }}',
    });
  </script>
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="OCFUCQQV" defer></script>
  <!-- / Fathom -->
  {% block head %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
  </script>
</body>

</html>