{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}
<main>
  <i class="twa twa-5x twa-game-die"></i>
  <h1>Crit Zone</h1>
  <p>Roll dice online with friends!</p>
  <a class="button" href="/z/general/" onclick="window.fathom.trackGoal('7G02TOAV', 0);">Roll for initiative!</a>
</main>
<footer>
  <p>
    Made with <i class="twa twa-red-heart"></i> by
    <a href="https://www.djpeacher.com/" target="_blank">Jonathan Peacher</a>
  </p>
</footer>
{% endblock %}