{% extends 'base.html' %}
{% load static %}

{% block title %}#{{ zone_name }} | {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/app.css' %}">
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="grid" _="on htmx:responseError alert(event.detail.xhr.responseText)">
  {% include 'room/grid/_header.html' %}
  {% include 'room/grid/_sidebar_room.html' %}
  {% include 'room/grid/_chat.html' %}
  {% include 'room/grid/_sidebar_tray.html' %}
</div>
{% endblock %}