<header class="grid__header header">
  <button class="fa-btn" _="on click 
                            toggle .grid--left-sidebar on .grid
                            remove .grid--right-sidebar from .grid">
    <i class="fa-solid fa-bars fa-lg"></i>
  </button>
  <h1 class="header__heading" _="on click remove .grid--left-sidebar .grid--right-sidebar from .grid">
    #{{ zone_name }}
  </h1>
  <button class="fa-btn" _="on click
                            toggle .grid--right-sidebar on .grid
                            remove .grid--left-sidebar from .grid">
    <i class="fa-solid fa-dice-d20 fa-lg"></i>
  </button>
</header>